/* Design stylings */

/* Light gray color - #DADADA */
/* Dark gray color - #666666 */
/* Red color - #F45750 */
/* Blue color - #40B0F9 */

body {
  background-color: #DADADA;
}

header {
  background-color: #40B0F9;
}

h1 {
  font-family: titlesLight;
  color: white;
}

nav {
  background-color: #DADADA;
}

ul#navList {
  font-family: titles;
}

ul#navList > li {
  border-left: 1px solid white;
}

ul#navList > li a:first-child {
  text-align: center;
  color: white;
}

h1 {
  font-size: 32px;
  letter-spacing: 2px;
  text-align: center;
}

ul#navList {
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

ul#navList a {
  text-decoration: none;
}