/* Layout of pages */

section.helperBar > div, 
header div,
header nav,
#navList > li {
  display: inline-block;
}

nav {
  float: right;
}

.navList > li {
  min-height: 48px;
}

div h1,
ul#navList > li a:first-child {
  display: inline-block;
}

