<md-card class="tenant-card">
    <md-card-content layout="row">
        <div flex="33" layout="column" layout-align="center center">
            <p class="tenant-tradename primary-text" ng-style="cardCtrl.tradeNameColor">{{cardCtrl.tradeName}}</p>

            <p ng-if="cardCtrl.forBilling" class="billdate secondary-text">{{ cardCtrl.billDate | momentString:
                                                                  cardCtrl.format}}</p>
        </div>
        <div flex="66" class="tenant-details" layout-padding layout="column">
            <div ng-if="detail.name != 'tradeName'" layout="row" ng-repeat="detail in cardCtrl.tenant">
                <div flex="30" class="static-bill-entry-title" primary-text>{{detail.title}}</div>
                <div flex="70" clsss="static-bill-entry-value">{{detail.value}}</div>
            </div>
        </div>
    </md-card-content>
</md-card>