<md-card class="tenant-card">
    <md-card-content>
        <div layout="row">
            <h3 class="tenant-tradename">{{cardCtrl.tradeName}}</h3>
            <section flex></section>
            <md-button
                    ng-if="cardCtrl.isEditControlShown"
                    class="icon-button inverse-button"
                    ng-click="cardCtrl.onEditClicked()"
                    remove-focus>
                <i class="fa fa-pencil-square-o"></i>
                <md-tooltip md-delay="400">Edit tenant</md-tooltip>
            </md-button>
            <md-button
                    ng-if="cardCtrl.isDeleteControlShown"
                    class="icon-button inverse-button"
                    ng-click="cardCtrl.onDeleteClicked()"
                    remove-focus>
                <i class="fa fa-trash-o"></i>
                <md-tooltip md-delay="400">Delete tenant</md-tooltip>
            </md-button>
        </div>
        <div class="tenant-details" layout="column">
            <div ng-if="detail.name != 'tradeName'" layout="row" ng-repeat="detail in cardCtrl.tenant">
                <div flex="30">{{detail.title}}</div>
                <div flex="70">{{detail.value}}</div>
            </div>
        </div>
    </md-card-content>
</md-card>