.tenant-card p.tenant-tradename {
    font-size: 24px;
    margin-bottom: 0px;
}

.tenant-tradename {
    color: #F44336;
}

.tenant-card p.billdate {
    font-size: 16px;
    margin-bottom: 0px;
}

.tenant-card .tenant-details {
    border-left: 1px solid #B6B6B6;
}
