.bottom-margin {
    margin-bottom: 32px;
}

md-input-container > md-icon {
    position:absolute;
    top: 5px;
    left: 2px;
}

.tenant-docs .dropdown-menu {
    top:80%;
    left: 84%;
}

.tenant-sear