.filter-header {
    margin-left: 8px;
    padding-right: 8px;
    margin-right: 14px;
    border-right: 1px solid #FFFFFF;
}

button.filter-button.active i,
button.filter-button.active span,
button.filter-button.active i:hover,
button.filter-button.active span:hover,
button.filter-button.active i:focus,
button.filter-button.active span:focus {
    color: #ffffff;
}

button.filter-button i,
button.filter-button span,
button.filter-button i:hover,
button.filter-button span:hover,
button.filter-button i:focus,
button.filter-button span:focus {
    color: rgba(255, 255, 255, .70);
}

.documents-list-title {
    color: #2196F3;
}

.docs-list .pagination>.active>a,
.docs-list .pagination>.active>span,
.docs-list .pagination>.active>a:hover,
.docs-list .pagination>.active>span:hover,
.docs-list .pagination>.active>a:focus,
.docs-list .pagination>.active>span:focus {
    z-index: 2;
    color: #2196F3;
    border-color: #2196F3;
    background-color: #FFFFFF;
    cursor: pointer;
}

.tenant-view .pagination>.active>span,
.tenant-view .pagination>.active>a:hover,
.tenant-view .pagination>.active>span:hover,
.tenant-view .pagination>.active>a:focus,
.tenant-view .pagination>.active>span:focus {
    z-index: 2;
    color: #689F38;
    border-color: #689F38;
    background-color: #FFFFFF;
    cursor: pointer;
}

.reports .pagination>.active>span,
.reports .pagination>.active>a:hover,
.reports .pagination>.active>span:hover,
.reports .pagination>.active>a:focus,
.reports .pagination>.active>span:focus {
    z-index: 2;
    color: #7B1FA2;
    border-color: #7B1FA2;
    background-color: #FFFFFF;
    cursor: pointer;
}