<md-toolbar ng-include="'app/components/mailbox/approvals/partials-approvals-toolbar.html'">

</md-toolbar>

<md-content flex class="approvals">
    <!--Progress bar that hides after loading-->
    <md-progress-linear ng-class="{'invisible' : !stateIsLoading}" md-mode="indeterminate"></md-progress-linear>

    <div layout="column" class="max-width">
        <div>
            <section>
                <hoa-tenant-card tenant="approvals.tenant"
                                 for-billing="true"
                                 bill-date="approvals.billDate"
                                 format="approvals.format"
                                 is-delete-control-shown="false"
                                 is-edit-control-shown="false"
                                 trade-name-color="approvals.tradeNameColor">
                </hoa-tenant-card>
            </section>
        </div>
        <section>
            <nvl-print-card is-printable="false" document="approvals.document" payment-history="approvals.previousCharges.paymentHistory" previous-total="approvals.document.body.previous.sections[0].sectionTotal.value"></nvl-print-card>
        </section>

        <div class="invoice-view">
            <md-card>
                <md-card-content>
                    <div class="md-actions" layout="row" layout-align="start center">
                        <md-button
                                ng-if="!approvals.isDisabled"
                                class="no-uppercase"
                                md-theme="bills-dark" remove-focus
                                   ng-click="approvals.onRejectClicked()">
                            <span><i class="fa fa-arrow-left iconed-text"></i>{{approvals.prevAction.title}}</span>
                        </md-button>

                        <div flex>
                            <md-button
                                    ng-if="!approvals.isDisabled"
                                    md-theme="bills-dark"
                                       remove-focus
                                       type="submit"
                                       class="pull-right no-uppercase"
                                       ng-click="approvals.onSubmitClicked()"
                                       ng-disabled="billingForm.$invalid">
                                <span>{{approvals.nextAction.title}}<i class="fa fa-arrow-right iconed-text"></i></span>
                            </md-button>
                        </div>
                    </div>
                    <!--<p class="md-warn" ng-show="billingForm.$invalid">Can't submit document with invalid fields</p>-->
                    <hr/>
                    <hoa-comments id="comments" comments="approvals.comments"></hoa-comments>
                </md-card-content>
            </md-card>
        </div>
    </div>
</md-content>