<md-toolbar md-theme="docs-view" ng-include="'app/components/mailbox/approvals/partials-approvals-toolbar.html'">

</md-toolbar>

<md-content layout="column" flex class="md-padding md-default-theme">
    <div>
        <div>
            <section>
                <hoa-tenant-card tenant="approvals.tenant"
                                 for-billing="true"
                                 bill-date="approvals.billDate"
                                 format="approvals.format"
                                 trade-name-color="approvals.tradeNameColor">
                </hoa-tenant-card>
            </section>
        </div>
        <section class="cards-margin comments">
            <hoa-comments is-recent-only="true" comments="approvals.comments" is-hidden="false"></hoa-comments>
        </section>

        <section>
            <nvl-print-card is-printable="false" document="approvals.document"></nvl-print-card>
        </section>

        <div ng-show="!approvals.isDisabled" class="cards-margin">
            <div class="form-group">
                <div class="textContainer">
                        <textarea class="form-control" rows="5" id="documentComments"
                                  ng-model="approvals.currentComment" placeholder="Add comments here"></textarea>
                    <span class="help-block">Notes or comments for the current document (Will not be visible in final document).</span>
                </div>
            </div>
        </div>
        <div layout="row" class="cards-margin">
            <div flex="90">
                <md-button type="button" class="md-warn md-hue-3 md-raised"
                           ng-click="approvals.onRejectClicked()">Reject
                </md-button>
            </div>
            <div flex="10">
                <md-button remove-focus type="submit" class="pull-right md-primary md-raised md-hue-3"
                           ng-click="approvals.onSubmitClicked()">Submit
                </md-button>
            </div>
        </div>
        <section class="comments bottom-comments cards-margin">
            <hoa-comments is-recent-only="false" comments="approvals.comments" is-hidden="true"></hoa-comments>
        </section>
    </div>
</md-content>