<div class="modal-header colored-header-primary">
	<h5>Create tenant</h5>
</div>

<div class="modal-body">
	<form name="createTenantForm">
		<div ng-repeat="data in controlData">
			<div class="form-group">
				<label class="control-label" for="{{data.name}}">{{data.prompt}}</label>
				<input type="text" id="{{data.name}}" dynamic-name="data.name" ng-model="editedData[data.name]" class="form-control" value="{{data.value}}" placeholder="Input user {{data.prompt}}">
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
  <button class="btn btn-default" ng-click="onCancelClicked()">Cancel</button>

  <button type="submit" class="btn btn-primary" ng-click="onCreateClicked()">Create</button> 
</div><!-- /modal-footer end -->   