<md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-align="start center">
        <button hide-gt-md class="menuBtn menuBtn-hamburger" toggle-side-nav>
            <span class="visually-hidden">Menu</span>
        </button>
        <h3 flex class="toolbar-title">{{editTenantCtrl.pageTitle}}</h3>

        <md-button class="inverse-button options no-uppercase"
                   ng-disabled="myForm.$invalid"
                   ng-click="editTenantCtrl.onEditTenantClicked()">
            <span><i class="fa fa-floppy-o iconed-text"></i>Save tenant</span>
        </md-button>
    </div>

</md-toolbar>
<md-content layout="column" layout-fill flex class="md-padding">
    <div class="max-width">
        <md-card flex class="cards-margin bottom-margin">
            <md-card-content>
                <form name="myForm" novalidate>
                    <nvl-input field="data" ng-repeat="data in editTenantCtrl.tenantTemplate"></nvl-input>
                </form>
            </md-card-content>
        </md-card>
    </div>
</md-content>

