@charset “UTF-8″; 
html {
  background-color: white;
}

body {
  width: 960px;
  margin: 0 auto;
}

header{
  width: 100%;
  height: 48px;
}

.fullWidth {
  width: 100%;
}

header div {
  width: 35%;
  height: 100%;
}

div h1{
  line-height: 48px;
  width: 100%;
}

nav {
  height: 100%;
}

.horizontalLine {
  width: 100%;
  background-color: white;
  height: 1px;
}

ul#navList > li a:first-child {
  line-height: 48px;
  width: 100%;
}

ul#navList > li {
  width: 150px;
}

/* Navigation list should have no borders */
ul#navList{
	list-style: none;
	list-style-type: none;
  display: inline;
}

.hidden{
	display: none;
}

.visible{
	display: normal;
}
