@charset “UTF-8″; 
html {
  background-color: white;
}

body {
  width: 960px;
  margin: 0 auto;
}

header{
  width: 100%;
  height: 48px;
}

.rowHeight {
  height: 32px;
}

.headerHeight {
  height: 48px;
}

.fullWidth {
  width: 100%;
}

header div {
  width: 35%;
  height: 100%;
}

div h1{
  line-height: 48px;
  width: 100%;
}

section h2{
  line-height: 32px;
  height: 32px;
  width: 100%;
}

article div.invoice_total {
  display:inline-block;
  background-color: #40B0F9;
}

nav,
button {
  height: 100%;
}

button {
  margin-right: -5px;
}

section.helperBar > div{
  height:100%;
}

#invoiceMaker_saveEdit{
  width: 40%;
}

#invoiceMaker_invoiceDetails {
  width:60%;
}

#invoiceMaker_invoiceDetails > div{
  display: inline;
  line-height: 32px;
  float: right;
  width: 40%;
}

div#invoiceMaker_saveEdit > button {
  width: 30%;
}


ul#navList > li a:first-child {
  line-height: 48px;
  width: 100%;
}

ul#navList > li {
  width: 150px;
}

/* Navigation list should have no borders */
ul#navList{
	list-style: none;
	list-style-type: none;
  display: inline;
}

.hidden{
	display: none;
}

.visible{
	display: normal;
}
