@charset “UTF-8″; 


#addCategory{
  width: 100%;
}

div.centeredRow div.variableLabel {
  width:20%;
  display: inline-block;
}

p.autoInputValue {
  width:70%;
}

p.autoInputLabel {
    width: 20%;
}

.invoiceMaker_subAmount {
  float: right;
}

/*Default styles no design data. This stylesheet should only
 layout styles
*/

body {
  width: 960px;
  margin: 0 auto;
}

/* Header styling */
header{
  width: 100%;
  height: 48px;
  line-height: 48px;
  display: inline-block;
}

header h1 {
  height: 48px;
  line-height: 48px;
  width: 60%;
}

header div {
  float: right;
  height: 48px;
  line-height: 48px;
  width: 30%;
}

header div button{
  width: 50%;
}

/* Header styling end */

section h2{
  line-height: 32px;
  height: 32px;
  width: 100%;
}

/* Invoice maker total amount */
article div.invoice_total {
  display:inline-block;
  background-color: #40B0F9;
}

/* invoice maker controls*/
#invoiceMaker_controls {
  width: 100%;
  display: inline-block;
}

#invoiceMaker_controls button{
  width: 20%;
}

.invoiceMaker_textbox {
  display: inline-block;
  padding-left: 2px;
  float: right;
  padding-right: 20px;
}

/* helper styles */
.rowHeight {
  height: 32px;
  line-height: 32px;
}

.headerHeight {
  height: 48px;
  line-height: 48px;
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  height: 100%;
  line-height: 100%;
}

.headerButton {
  sheight: 48px;
  line-height: 48px;
}

.button {
  line-height: 32px;
  height: 32px;
}

.horizontalPadding {
  padding-left: 12px;
  padding-right: 12px
}

.paddingLeft {
  padding-left: 12px;
}


.bottomAligned {
  width: 100%;
}

.primary {
  display: inline-block;
  width: 70%;
}

.secondary {
  display: inline-block;
    width:30%;
}

.hidden{
	display: none;
}

.visible{
	display: normal;
}
