/* Design styles */

/* Light gray color - #DADADA */
/* Dark gray color - #666666 */
/* Red color - #F45750 */
/* Dark red color - #c0392b */
/* Blue color - #40B0F9 */
/* Darker blue color - #2980b9 */

/* 

  General styles 

*/
html {
  font-family: titles;
  background-color: white;
}

body {
  background-color: #DADADA;
  min-height: 600px;  
}

header {
  background-color: #40B0F9;
}

.horizontalLine {
  width: 100%;
  background-color: white;
  height: 1px;
}

.verticalLine {
  height: 100%;
  background-color: white;
  width: 1px;
}
/* 

  General styles -- end
  Header styles 

*/

h1 {
  font-family: titlesLight;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 2px;
  color: white;
}

h2, h3 {
  font-family: titles
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

/* 

  Header styles -- end
  General button styles 

*/
.headerButton {
  font-family: titles;
  display: inline-block;
  font-size: 12px;
}

.button {
  font-family: titles;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}

.button-blue {
  background-color: #40B0F9;
}

.button-blue:hover{
  background-color: #2980b9;
}

.button-red,
.button-red:active  {
  background-color: #F45750;
}

.button-red:hover {
 background-color: #c0392b;
}

.button-gray,
.button-gray:active {
  background-color: #DADADA;
}

.button-gray:hover{
  background-color: #666666;
}

.button-gray:focus,
.button-red:focus, 
.button-blue:focus   {
 outline: 0px solid transparent;
}

.button-rightBordered {
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: solid white 1px;
}

.button-leftBordered {
  border-top: none;
  border-left: solid white 1px;
  border-bottom: none;
  border-right: none;
}

.button-leftRightBordered {
  border-top: none;
  border-left: solid white 1px;
  border-bottom: none;
  border-right: solid white 1px;
}

.button-bordered {
  border: solid white 1px;
}

.button-unbordered {
  border: none;
}

/* 
  
  General button styles -- end
  Label styles

*/

label {
  font-family: titles;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 2px;
}

.standAloneLabel {
  font-family: titles;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}

label.checkbox {
  display: inline-block;
  width: 100%;
  text-align: left;
  background-color: white;
  margin-left: 2px;
  padding-left: 2px;
  box-sizing: border-box;
}

label.primaryRadio {
  background-color: white;
  text-align: left;
  margin:0px;
}

label.secondaryRadio {
  background-color: white;
  text-align: left;
  margin: 0px;
}

/* 
  
  Label styles -- end
  Input styles

*/

input[type="text"] {
  font-family: bodyRegular;
  font-size: 12px;
  box-sizing: border-box;
  vertical-align: middle;
  border:none;
}

div.radioInline {
  display: inline-block;
  box-sizing: border-box;
}

article.bordered {
  border:solid 1px white;
}

div.centeredRow span{
  display:inline-block;
  font-family: titles;
  text-transform: uppercase;
  font-size: 12px;
}

/* Invoice maker */
.invoiceMaker_total {
  background-color: #40B0F9;
}

.invoiceMaker_total p {
  font-family: titles;
  color: white;
  text-transform: uppercase;
}