/* Design stylings */

/* Light gray color - #DADADA */
/* Dark gray color - #666666 */
/* Red color - #F45750 */
/* Blue color - #40B0F9 */

html {
  font-family: titles;
}

body {
  background-color: #DADADA;
  min-height: 600px;  
}

header {
  background-color: #40B0F9;
}

h1 {
  font-family: titlesLight;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 2px;
  color: white;
}

h2, h3 {
  font-family: titles
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

nav {
  background-color: #DADADA;
}

.button {
  font-family: titles;
  font-size: 12px
  text-align: center;
  text-transform: uppercase;
  line-height: 32px;
}

.button-blue {
  background-color: #40B0F9;
}

.button-red {
  background-color: #F45750;
}

.button-gray {

  background-color: #DADADA;
}

.button-rightBordered {
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: solid white 1px;
}

.button-bordered {
  border: solid white 1px;
}

.button-unbordered {
  border: none;
}

label {
  font-family: titles;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 2px;
}

.standAloneLabel {
  font-family: titles;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}

input[type="text"] {
  font-family: bodyRegular;
  font-size: 12px;
  box-sizing: border-box;
  vertical-align: middle;
  border:none;
}

label.checkbox {
  display: inline-block;
  width: 100%;
  text-align: left;
  background-color: white;
  margin-left: 2px;
  padding-left: 2px;
  box-sizing: border-box;
}

span.col2Element2 {
  box-sizing: border-box;
}

ul#navList {
  font-family: titles;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}


ul#navList > li {
  border-left: 1px solid white;
}

div.radioInline {
  display: inline-block;
  box-sizing: border-box;
}

label.primaryRadio {
  background-color: white;
  text-align: left;
  margin:0px;
}

label.secondaryRadio {
  background-color: white;
  text-align: left;
  margin:0px;
}

ul#navList a {
  text-decoration: none;
}

ul#navList > li a:first-child {
  text-align: center;
  color: white;
}

article.bordered {
  border:solid 1px white;
}

#addCategory{
  width: 100%;
}

div.centeredRow div.variableLabel {
  width:20%;
  display: inline-block;
}

div.centeredRow span{
  display:inline-block;
  font-family: titles;
  text-transform: uppercase;
  font-size: 12px;
}

p.autoInputValue {
  width:70%;
}

p.autoInputLabel {
    width: 20%;
}


.invoiceMaker_total {
  background-color: #40B0F9;
}

.invoiceMaker_total p {
  font-family: titles;
  color: white;
  text-transform: uppercase;
}

.invoiceMaker_subAmount {
  float: right;
}

.charges-noTitle {

}

.charges-withTitle {

}

.horizontalLine {
  width: 100%;
  background-color: white;
  height: 1px;
}