/* Layout of pages */

header div,
header nav{
  display: inline-block;
}

div h1{
  display: inline-block;
}

.bottomAligned{
  position: absolute;
  bottom: 0;
}

.containerMain {
  position: relative;
}

