/* Layout of pages */

div h1{
  display: inline-block;
}

.bottomAligned{
  position: absolute;
  bottom: 0;
  left: 0;
}

div.mainContainer {
  position: relative;
  background-color: blue;
  height: 100%;
}