<md-toolbar ng-if="viewCtrl.profile === 'collection'"
            ng-include="'app/components/tenants/list/partials-tenants-list-toolbar.html'">
</md-toolbar>

<md-content class="main" flex>
    <div ng-if="stateIsLoading" layout="column" layout-align="center-center" flex="10">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>
    <div layout="column" class="max-width">
        <md-whiteframe layout="column" class="md-whiteframe-z1 cards-margin">
            <md-content layout="row">
                <div flex="50" ng-if="viewCtrl.profile === 'collection'">
                    <md-input-container class="tenants-search full-width">
                        <label>
                            <i class="fa fa-search iconed-text"></i>
                            Search tenant</label> <input type="text" ng-model="query"/>
                    </md-input-container>
                </div>
                <div flex></div>
                <md-button class="inverse-button options no-uppercase" ng-click="viewCtrl.onCreateTenantClicked()">
                    <span><i class="fa fa-plus iconed-text"></i>Create tenant</span></md-button>
            </md-content>



        </md-whiteframe>

        <md-whiteframe layout="column" class="md-whiteframe-z1 cards-margin unpadded">
            <md-content>
                <div ng-if="viewCtrl.profile === 'collection'">
                    <md-list>
                        <hoa-embedded-items layout="row"
                                            ng-repeat="tenant in viewCtrl.currentListShown | filter: query"
                                            item="tenant"
                                            on-click="viewCtrl.onTenantClicked(tenant)">
                        </hoa-embedded-items>
                    </md-list>
                </div>
                <section ng-if="viewCtrl.total > viewCtrl.pageSize">
                    <md-divider></md-divider>
                    <div layout="row"
                         layout-align="center center"
                         paging
                         page="viewCtrl.currentPage"
                         paging-action="viewCtrl.onChangePageClicked(page)"
                         page-size="viewCtrl.pageSize"
                         total="viewCtrl.total"></div>
                </section>
            </md-content>

        </md-whiteframe>
    </div>
</md-content>

