<div class="nav-sidebar">
    <md-toolbar class="white-out">
        <div layout="row" layout-align="center center" class="md-toolbar-tools userName">
            <div flex>
                <md-button remove-focus
                           id="userName"
                           href
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-expanded="false">
                    <span><i class="iconed-text fa fa-cog"></i>{{sidebar.fullName}}</span>
                </md-button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href ng-click="sidebar.onLogOutClicked()">Logout</a></li>
                </ul>
            </div>
        </div>
    </md-toolbar>

    <div>
        <div layout="row" layout-align="center center">
            <md-button flex
                       id="startWorkflow"
                       remove-focus
                       ng-click='sidebar.onCreateDocumentClicked()'
                       aria-label="Profile">
                <span><i class="fa fa-pencil-square-o"></i>Start workflow</span>
            </md-button>
        </div>

        <section>
            <ul>
                <li class="main-secton" ng-repeat="children in sidebar.mailboxItems.mailbox.subFolders">
                    <section ng-if="children.type == 'hoa:mailbox-heading'">
                        <h6 class="nav-sidebar-heading">{{children.title}}</h6>
                        <ul>
                            <li ng-repeat="grandchildren in children.subFolders">
                                <a hoa-activate path="{{grandchildren.link}}"
                                   ng-if="grandchildren.type == 'hoa:mailbox-link'"
                                   class="md-button md-default-theme nav-sidebar-button"
                                   ng-click="sidebar.onSidebarItemClicked(grandchildren)">{{grandchildren.title}}
                                </a>
                            </li>
                        </ul>
                    </section>
                </li>
            </ul>
        </section>
    </div>
</div>


