<div class="nav-sidebar" flex>
    <md-toolbar class="md-hue-2">
        <div layout="row" layout-align="center center" class="md-toolbar-tools userName">
            <div flex>
                <h5 id="userName"><i class="fa fa-user iconed-text"></i>{{sidebar.fullName}}</h5>
            </div>
        </div>
    </md-toolbar>

    <div flex>
        <div layout="row" layout-align="center center">
            <md-button flex
                       class="dark-button"
                       id="startWorkflow"
                       remove-focus
                       ng-click='sidebar.onCreateDocumentClicked()'
                       aria-label="Profile">
                <span><i class="fa fa-pencil-square-o"></i>Create invoice</span>
            </md-button>
        </div>

        <section flex>
            <ul>
                <li class="main-secton" ng-repeat="children in sidebar.mailboxItems.mailbox.subFolders">
                    <section ng-if="children.type == 'hoa:mailbox-heading'">
                        <h6 class="nav-sidebar-heading">{{children.title}}</h6>
                        <ul>
                            <li ng-repeat="grandchildren in children.subFolders">
                                <a hoa-activate path="{{grandchildren.link}}"
                                   ng-if="grandchildren.type == 'hoa:mailbox-link'"
                                   class="md-button md-default-theme nav-sidebar-button"
                                   ng-click="sidebar.onSidebarItemClicked(grandchildren)">{{grandchildren.title}}
                                </a>
                            </li>
                        </ul>
                    </section>
                </li>
            </ul>
        </section>
    </div>
</div>
<md-button class="dark-button no-uppercase" ng-click="sidebar.onLogOutClicked()">
    <span><i class="fa fa-sign-out iconed-text"></i>Logout</span>
</md-button>


