<md-item flex
         class="document-items"
         layout="row">
    <md-button ng-if="item.document.mailbox == 'paid'"
               class="no-uppercase md-tile-content button-white"
               layout="row"
               ng-click="item.onItemClick()">
        <div flex="20">
            <h3>{{item.document.mailbox | tokenizedCamel}}</h3>
        </div>
        <div flex="20">
            <h3>{{item.document.forMonth | momentString: "MMMM-YYYY"}}</h3>
        </div>
        <div flex>
            <h3 class="list-item-owner">{{item.document.forTenant.tradeName}}</h3>
        </div>
    </md-button>
    <md-button ng-if="item.document.mailbox == 'unpaid'"
               layout="row"
               flex
               layout-align="space-between start"
               class="no-uppercase md-tile-content button-white"
               md-no-ink
               ng-click="item.onItemClick()">

        <div flex="20">
            <h3 class="mailbox">{{item.document.mailbox | tokenizedCamel}}</h3>
        </div>
        <div flex="20">
            <h3>{{item.document.forMonth | momentString: "MMMM-YYYY"}}</h3>
        </div>
        <div flex="40">
            <h3 class="list-item-owner">{{item.document.forTenant.tradeName}}</h3>
        </div>

        <div flex="20">
            <a href class="md-button md-default-theme md-primary no-uppercase inverse-button" ng-click="item.onItemUpdateClicked($event)" remove-focus>
                <i class="fa fa-pencil-square-o iconed-text"></i>
                Update
            </a>
        </div>

    </md-button>
    <md-button ng-if="item.document.mailbox != 'paid' && item.document.mailbox != 'unpaid'"
               flex
               class="no-uppercase md-tile-content button-white"
               layout="row"
               ng-click="item.onItemClick()">
        <div flex="20">
            <h3>{{item.document.mailbox | tokenizedCamel}}</h3>
        </div>
        <div flex="20">
            <h3>{{item.document.forMonth | momentString: "MMMM-YYYY"}}</h3>
        </div>
        <div flex>
            <h3 class="list-item-owner">{{item.document.forTenant.tradeName}}</h3>
        </div>
    </md-button>
</md-item>