@import url("documents.css");

#header {
  border-radius: 0px;
}

#mainContent {
  padding-top: 70px;  
}

.glyphicon-btn { margin-right:5px; }

.glyphicon-vert-centered {vertical-align: middle;}

.icon-button:hover{
  color: #e51c23;
}

.icon-button:active {
  color: #666;
}

.colored-header-primary {
  background-color: #2196F3;
}

.colored-header-primary h1,
.colored-header-primary h2,
.colored-header-primary h3,
.colored-header-primary h4,
.colored-header-primary h5,
.colored-header-primary h6 {
  color: white;
}

.borderless a{
  border: none;
}

#loginJumbotron {
  text-align: center;
  width: 30rem;
  border-radius: 0.5rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: 4rem auto;
  background-color: #fff;
  padding: 2rem;
}

.container #loginLogo {
  font-size: 10rem;
  margin-top: 3rem;
  color: #2196F3;
}

#loginHeader {
  opacity: .54;
}

.loginInput {
  width: 100%;
  margin-bottom: 1.4rem;
  padding: 1rem;
  border-radius: 0.2rem;
  border: none;
}

#loginButton {
  border-radius: 0.2rem;
  font-size: 3rem;
  color: #fff;
}

.full-width {
  width: 100%;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.custom-alert {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-noPadding {
    padding: 0;
}

.noPadding {
    padding: 0;
}

.noMargin {
    margin: 0;
}

.btn-borderless {
  border : none;
}

label.vertical-aligned {
  margin-bottom: 0px;
  margin-top: 5px;
}

.createDocumentSection {
    margin-top: 20px;
    position: relative;
}

.createDocumentHeader {
    margin-top: 30px;
    margin-bottom: 10px;
}

.subtotal {
    margin-top: 30px;
}

legend,
.subtotal {
  color: rgba(102, 102, 102, .87);
}

.subtotalLabel {
  color: rgba(102, 102, 102, .54);
}

.fields {
  margin-top: 10px;
  margin-bottom: 10px;
}

.subsections {
  clear: both;
  padding-top: 15px;
  padding-bottom: 40px;
}

h5.mainTotal {
  color: #2196F3;
}

.subtotalContainer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  clear: both;
}

.totalContainer h5 {
  color: #2196F3;
}


h6.sidebarSection {
  color: #2196F3;
}

.pointer {
    cursor : pointer;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#content {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.help-block.muted,
.help-inline.muted {
    color: #bbbbbb;
}
.help-block.text-info,
.help-inline.text-info {
    color: #9c27b0;
}
.help-block.text-warning,
.help-inline.text-warning {
    color: #ff9800;
}
.help-block.text-error,
.help-inline.text-error {
    color:  #e51c23;
}
.help-block.text-success,
.help-inline.text-success {
    color: #4caf50;
}

.tooltipWrapper {
    display: inline-block;
}

.custom-dropdown {
    max-height:300px;
    overflow-y:auto;
}


.full-height {
    height: 100%;
}

.input-list {
    margin-bottom: 10px;
}

.row-full-height {
    height: 100%;
}

.row-same-height {
    display: table;
    width: 100%;
    /* fix overflow */
    table-layout: fixed;
}

.col-full-height {
    height: 100%;
    vertical-align: middle;
}

.col-xs-height {
    display: table-cell;
    float: none !important;
}

.full-item {
    width: 100%;
    height: 100%;
}

.parentCenterVert {
    display: table;
    table-layout: fixed;
}

.childVert {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.col-middle {
    vertical-align: middle;
}

.vertical-align {
    display: flex;
    flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center; /* Optional, to align inner items
                              horizontally inside the column */
}

.tooltipWrapper {
    display: inline-block;
}

.custom-dropdown {
    max-height:200px;
    overflow-y:scroll;
}


.tooltipWrapper {
    display: inline-block;
}

.custom-dropdown {
    max-height:200px;
    overflow-y:scroll;
}


.nav-sidebar .nav-justified a {
    text-align: left;
}

.nav-sidebar .nav-pills>li>a:hover,
.nav-sidebar .nav-pills>li>a:focus {
    border-left: 1px solid #FF4081;
    color: rgba(0, 0, 0, .54);
}

.nav-sidebar .nav-justified>li.active>a,
.nav-sidebar .nav-justified>li.active>a:hover,
.nav-sidebar .nav-justified>li.active>a:focus {
    color: #727272;
    background-color: #CFD8DC;
    border-left: 1px solid #FF4081;
}

.nav-sidebar .nav-justified>li>a {
    border-left: 1px solid transparent;
}

.nav-sidebar .nav-justified>li>a:hover,
.nav-sidebar .nav-justified>li>a:focus {
    color: #FF4081;
    background-color: #CFD8DC;
    border-left: 1px solid #FF4081;
}

.nav-sidebar h6 {
    margin-left: 5px;
}

.nav-sidebar .nav-justified>li>a {
    border-radius: 0px;
}


.list-group-unbordered:first-child {
    border-radius: 0 !important;
}

.list-group-item-unbordered {
    border: 1px solid transparent;
    box-sizing: border-box;
}

.list-group-item-unbordered:hover {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 1px solid #FF4081;
    color: rgba(0, 0, 0, .54);
}

.list-group-item-bgaccented {
    background: transparent;
}

.list-group-item-bgaccented.active,
.list-group-item-bgaccented.active:focus,
.list-group-item-bgaccented.active:hover{
    background: #ffffff;
    border: 1px solid transparent;
    color: #FF4081;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    -webkit-box-shadow: inset 0 -2px 0 #FF4081;
    box-shadow: inset 0 -2px 0 #FF4081;
}

textarea,
textarea.form-control,
input.form-control,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
[type=text].form-control,
[type=password].form-control,
[type=email].form-control,
[type=tel].form-control,
[contenteditable].form-control{
    -webkit-box-shadow: inset 0 -2px 0 #B6B6B6;
    box-shadow: inset 0 -2px 0 #B6B6B6;
}

.text-soft-accented {
    color: #FF80AB;
}

.text-accented {
    color: #FF4081;
}

.well-emphasis {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 2px solid #FF4081;
    border-radius: 0;
}

.well-emphasis h6.bold {
    font-weight: bold;
    color: rgba(0, 0, 0, .54);
}



i.leftQuote {
    position: relative;
    left: 0;
    top: 0;
}

.comments-header {
    font-weight: bold;
    color: #727272;
}

.recent-only .comments-header{
    color: #FF4081;
}

.recent-only .comments-content i {
    color:#FF4081;
}


.comments-list .comments-content i {
    color: #9E9E9E;
}

.comments .comment-date {
    margin-right: 20px;
    color: #727272;
}

#documentControls {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 80px;
    margin-bottom: 40px;
}

#documentControls .textContainer{
    padding: 0;
}

.comments-divider {
    margin-top: 20px;
    margin-bottom: 20px;
}