<md-toolbar md-theme="list" ng-include="'app/components/mailbox/list/docs-list-toolbar.partials.html'">

</md-toolbar>
<md-content layout="column" flex class="md-padding md-default-theme docs-list">
    <md-whiteframe class="documents-list md-whiteframe-z1">
        <md-toolbar class="white-out documents-list-toolbar" layout="row" layout-align="start center">
            <h5 class="documents-list-title">{{docsList.tabTitle}}</h5>
        </md-toolbar>
        <md-content md-theme="list" >
            <div>
                <md-list>
                    <hoa-embedded-items layout="row" ng-repeat="document in docsList.documents" item="document" on-click="docsList.onDocumentItemClicked(item)">
                    </hoa-embedded-items>
                </md-list>
            </div>
            <section ng-if="docsList.total > docsList.pageSize">
                <md-divider></md-divider>
                <div layout="row"
                     layout-align="center center"
                     paging
                     page="docsList.currentPage"
                     page-size="docsList.pageSize"
                     total="docsList.total"
                     paging-action="docsList.onChangePageClicked(page)">
                </div>
            </section>
        </md-content>
    </md-whiteframe>
</md-content>
