<md-toolbar md-theme="list" ng-include="'app/components/mailbox/list/partials-list-toolbar.html'">

</md-toolbar>
<md-content layout="column" flex class="md-padding md-default-theme">
    <md-whiteframe class="documents-list md-whiteframe-z1">
        <md-toolbar class="white-out documents-list-toolbar" layout="row" layout-align="start center">
            <h5 class="documents-list-title">{{draftsCtrl.tabTitle}}</h5>
        </md-toolbar>
        <md-content md-theme="list" >
            <div>
                <md-list>
                    <hoa-embedded-items layout="row" ng-repeat="document in draftsCtrl.documents" item="document" on-click="draftsCtrl.onDocumentItemClicked(item)">
                    </hoa-embedded-items>
                </md-list>
            </div>
        </md-content>
    </md-whiteframe>

    <div class="text-center">
        <ul class="pagination pagination-sm">
            <li ng-class="{true: '', false:'disabled'}[draftsCtrl.isDecrementPagePossible()]"
                ng-disabled="{true: '', false:'disabled'}[draftsCtrl.isDecrementPagePossible()]"
                ng-click="draftCtrl.onChangeSliceClicked(-5)"><a href>«</a></li>
            <li ng-class="{true: 'active', false:'default'}[draftsCtrl.currentPage == page]"
                ng-repeat="page in draftsCtrl.pagesSliced"
                ng-click="draftsCtrl.onChangePageClicked(page)"><a href>{{page}}</a></li>
            <li ng-class="{true: '', false:'disabled'}[draftsCtrl.isIncrementPagePossible()]"
                ng-disabled="{true: '', false:'disabled'}[draftsCtrl.isIncrementPagePossible()]"
                ng-click="draftsCtrl.onChangeSliceClicked(5)"><a class="disabledAnchor" href>»</a></li>
        </ul>
    </div>
</md-content>
