<div>
   <h5>Edit Tenant</h5>
   <hr/>

    <form name="editTenantForm">
        <div ng-repeat="detail in tenant">
            <div class="form-group">
               <label class="control-label" for="{{detail.name}}">{{detail.prompt}}</label>
               <input type="text" id="{{detail.name}}" dynamic-name="detail.name" ng-model="editedData[detail.name]" class="form-control" value="{{detail.value}}" placeholder="Input tenant {{detail.prompt}}">
            </div>
        </div>
    </form>

    <br/>
    
    <div>
        <div class="btn-group">
            <button type="submit" class="btn btn-primary" ng-click="onSubmitClicked()">Save</button>
            <button class="btn btn-default" ng-click="onCancelClicked()">Cancel</button>
        </div>
        <button class="btn btn-danger pull-right" ng-click="onDeleteClicked()"> Delete Tenant</button>
    </div>
    </br>
</div>

