<div class="well-sm">
    <button class="btn btn-default btn-sm" ng-click="tenantView.onBackClicked()">back</button>
</div>
<br/>
<div >
    <legend>{{tenantView.tradeName}}
        <button type="button" class="btn btn-default btn-sm pull-right" ng-click="tenantView.toggleInfo()">
            <span ng-class="{true : 'glyphicon glyphicon-chevron-up', false : 'glyphicon glyphicon-chevron-down'}[tenantView.isInfoOpen]"></span> Info
        </button>
    </legend>
    <div collapse="!tenantView.isInfoOpen">
        <div class="row" ng-repeat="detail in tenantView.tenant">
            <h6 class="col-xs-4">{{detail.title}}</h6> <h6 class="col-xs-1">:</h6> <h6>{{detail.value}}</h6>
        </div>
        <br/>
        <btn type="button" class="btn btn-primary btn-sm" ng-click="tenantView.onEditClicked()">
            <span class="glyphicon glyphicon-btn glyphicon-pencil"></span> edit
        </btn>
            <hr/>
    </div>
</div>