<div class="modal-header colored-header-primary">
    <h5>Create tenant</h5>
</div>
<div class="modal-body">
    <form name="myForm">
        <div ng-repeat="data in controlData" ng-form="tenant">
            <label class="control-label" for="{{data.name}}">{{data.prompt}}</label>
            <nooovle-inputs parent-form="tenant" field="data"></nooovle-inputs>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="onCancelClicked()">Cancel</button>
    <button type="submit" class="btn btn-primary" ng-click="onCreateClicked()">Create</button>
</div><!-- /modal-footer end -->
