<div id="loginJumbotron" class="jumbotron">
  <div class="container">
    <span id="loginLogo" class="glyphicon glyphicon-user"></span>
    <h2 id="loginHeader">Hobbies of Asia</h2>
    <input type="text" class="form-control loginInput" placeholder="User name"/>
    <input type="text" class="form-control loginInput" placeholder="Password"/>
    <button id="loginButton" class="btn btn-primary full-width" ng-click="verifyCredentials()"><span id="loginButtonLogo" class="glyphicon glyphicon-ok"></span></button>
  </div>
</div>