<div layout="column" flex>
    <md-card>
        <md-card-content layout="row" layout-align="space-between center">
            <div flex>
                <h6>CREATE DOCUMENT</h6>
                <p ng-show="!isDocumentReady()">
                    Please select a tenant and a billing period.
                </p>
            </div>
            <div layout="row" layout-align="end center" flex>
                <md-button remove-focus ng-click="onCreateDocumentClicked()" class="md-accent" ng-hide="!isDocumentReady()">
                    {{title()}}<i class="fa fa-check"></i>
                </md-button>
            </div>
        </md-card-content>
        <md-card-content>
            <div layout="column" layout-gt-md="row" layout-align="center center" flex>

                <div flex flex-order-gt-md="1" flex-order="2" class="">
                    <div class="full-item">
                        <md-input-container>
                            <label>Find tenants</label>
                            <input class="input-sm input-list" type="text" value="{{selectedTenant.tradeName}}"
                                   ng-model="search.$"/>
                        </md-input-container>

                        <div class="custom-dropdown">
                            <div id="tenantSearchList" class="list-group">
                                <a href ng-repeat="tenant in tenantsList | filter:search:strict"
                                   remove-focus
                                   class="list-group-item list-group-item-unbordered list-group-item-bgaccented"
                                   ng-click="onTenantSelected(tenant, $index)"
                                   ng-class="selectedIndex == $index ? 'active' : ''">{{tenant.tradeName}}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div flex flex-order-gt-md="2" flex-order="2" class="">
                    <div class="">
                        <h6 class="text-muted text-center">Select billing period</h6>
                        <datetimepicker class="center-block"
                                        data-ng-model="billingDate"
                                        data-datetimepicker-config="{startView: 'month', minView:'month'}">
                        </datetimepicker>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>
