<md-toolbar md-theme="approvals">
    <div class="md-toolbar-tools" layout="row" layout-align="start center">
        <button hide-gt-sm class="menuBtn menuBtn-hamburger">
            <span class="visually-hidden">Menu</span>
        </button>
        <h3 flex class="toolbar-title">Print preview</h3>
        <section>
            <div >
                <md-button class="toolbar-text no-uppercase" md-theme="toolbars" remove-focus ng-click="printCtrl.onSendClicked"><span><i class="fa fa-paper-plane iconed-text"></i>Mark as sent</span></md-button>
                <md-button class="toolbar-text no-uppercase" nvl-print printable-id="printable" md-theme="toolbars" remove-focus><span><i class="fa fa-print iconed-text"></i>Print</span></md-button>
            </div>
        </section>
    </div>
</md-toolbar>
<md-content layout="column" flex class="md-padding md-default-theme">
    <div id="printable">
        <md-card>
            <md-card-content>
                <div layout="row" layout-align="start center">
                    <div flex="50">
                        <h6>Statement of Account for {{printCtrl.document.billDate | momentString:"MMMM-YYYY"}}</h6>
                        <div><span>{{printCtrl.document.tenant.tradeName}}</span></div>
                        <div><span>{{printCtrl.document.tenant.contactPerson}}</span></div>
                        <div><span>{{printCtrl.document.tenant.address}}</span></div>
                        <div><span>{{printCtrl.document.tenant.contactNumber}}</span></div>
                    </div>
                    <div flex="50" layout="column" layout-align="center end">
                        <h4>Hobbies of Asia</h4>
                    </div>
                </div>
                <br/>
                <h5>Previous charges</h5>
                <div ng-repeat="detail in printCtrl.document.body.previous.sections">
                    <div layout="row">
                        <div flex="60">
                            <div layout="row" class="static-bill-entry" ng-repeat="field in detail.fields">
                                <div flex="50" class="static-bill-entry-title" primary-text>{{field.title}}</div>
                                <div flex="50" class="static-bill-entry-value">{{field.value}}</div>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                    <div layout="row" layout-align="end center" layout-padding class="static-bill-section">
                        <div class="static-bill-total-label secondary-text">
                            PREVIOUS CHARGES TOTAL
                        </div>
                        <div class="primary-text static-bill-total">
                            {{detail.total}}
                        </div>
                    </div>
                </div>
                <h5>This month's charges</h5>
                <div ng-repeat="detail in printCtrl.document.body.thisMonth.sections">
                    <h6>{{detail.title}}</h6>
                    <div layout="row">
                        <div flex="60">
                            <div layout="row" class="static-bill-entry" ng-repeat="field in detail.fields">
                                <div flex="50" class="static-bill-entry-title" primary-text>{{field.title}}</div>
                                <div flex="50" class="static-bill-entry-value">{{field.value}}</div>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                    <div layout="row" layout-align="end center" class="static-bill-section">
                        <div class="static-bill-total-label secondary-text">
                            {{detail.title | uppercase}} TOTAL
                        </div>
                        <div class="primary-text static-bill-total">
                            {{detail.total}}
                        </div>
                    </div>
                </div>
                <h5>Summary</h5>
                <div>
                    <div layout="row">
                        <div flex="60">
                            <div layout="row" class="static-bill-entry">
                                <div flex="50" class="static-bill-entry-title" primary-text>Previous charges</div>
                                <div flex="50" class="static-bill-entry-value">{{printCtrl.document.body.previous.summary.value}}</div>
                            </div>
                            <div layout="row" class="static-bill-entry">
                                <div flex="50" class="static-bill-entry-title" primary-text>This month's charges</div>
                                <div flex="50" class="static-bill-entry-value">{{printCtrl.document.body.thisMonth.summary.value}}</div>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                    <div layout="row" layout-align="end center" class="static-bill-section">
                        <div class="static-bill-total-label secondary-text">
                            TOTAL AMOUNT DUE
                        </div>
                        <div class="primary-text static-bill-total">
                            {{printCtrl.document.body.summary.value}}
                        </div>
                    </div>
                </div>
                <br/>
                <div>
                    <h6>Notes</h6>
                </div>
                <br/>
                <div layout="row" layout-align="space-between center">
                    <div>Prepared by {{printCtrl.document.actions.prepared.who}}</div>
                    <div>Checked by {{printCtrl.document.actions.checked.who}}</div>
                    <div>Approved by {{printCtrl.document.actions.approved.who}}</div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</md-content>