<div class="container col-md-12">
    <legend>{{documentTitle}}</legend>
    <br/>
    <div class="createDocumentSection">
        <legend>{{previous.title}}</legend>
        <div class="col-md-12" ng-repeat="sections in previous.sections">
            <h6>{{sections.title}}</h6>
            <div ng-repeat="field in sections.fields" class="col-md-12">
                <div class="col-md-offset-2 col-md-3 text-muted"><h6>{{field.title}}</h6></div>
                <div class="col-md-1">:</div>
                <div class="col-md-4"><h6>{{field.value}}</h6></div>
            </div>
            <div class="col-md-12 well-emphasis well-small">
                <div class="col-md-offset-2 col-md-3 text-muted"><h6>Previous total</h6></div>
                <div class="col-md-1">:</div>
                <div class="col-md-4"><h6>{{sections.total}}</h6></div>
            </div>
        </div>

    </div>
    <div class="createDocumentSection">
        <legend>{{thisMonth.title}}</legend>
        <div class="col-md-12" ng-repeat="sections in thisMonth.sections">
            <h6>{{sections.title}}</h6>
            <div ng-repeat="field in sections.fields" class="col-md-12">
                <div class="col-md-offset-2 col-md-3 text-muted"><h6>{{field.title}}</h6></div>
                <div class="col-md-1">:</div>
                <div class="col-md-4"><h6>{{field.value}}</h6></div>
            </div>
            <div class="col-md-12 well-emphasis well-small">
                <div class="col-md-offset-2 col-md-3 text-muted"><h6>{{sections.title}} total</h6></div>
                <div class="col-md-1">:</div>
                <div class="col-md-4"><h6>{{sections.total}}</h6></div>
            </div>
        </div>

    </div>
    <div class="col-md-12 well well-emphasis">
        <div class="col-md-offset-2 col-md-3">
            <div class="col-md-12"><h6 class="bold">{{previous.title}}</h6></div>
            <div class="col-md-12"><h6 class="bold">{{previous.title}}</h6></div>
            <div class="col-md-12"><h6 class="bold">Total</h6></div>
        </div>
        <div class="col-offset-1 col-md-4">
            <div class="col-md-12"><h6>{{previous.summary.value}}</h6></div>
            <div class="col-md-12"><h6>{{thisMonth.summary.value}}</h6></div>
            <div class="col-md-12"><h6>{{summary.value}}</h6></div>
        </div>
    </div>
    <div id="documentControls" class="well-sm">
        <div class="form-group">
            <label for="documentComments" class="col-lg-2 control-label">Attach comment</label>
            <div class="col-lg-10">
                <textarea class="form-control" rows="5" id="documentComments" ng-model="currentComment"></textarea>
                <span class="help-block">Notes or comments for the current document (Will not be visible in final document).</span>
            </div>
        </div>
        <button type="button" class="btn btn-default" ng-click="onMoveToBoxClicked(false)">Reject</button>
        <button type="submit" class="btn btn-default pull-right" ng-click="onMoveToBoxClicked(true)">Approve</button>
        <hr/>
        <h6>Previous comments</h6>
        <section class="comment-list">
            <hoa-comments ng-repeat="comment in commentsList.comments" is-current="comment.isCurrent" timestamp="comment.timestamp" user="comment.user" comment="comment.comment"></hoa-comments>
        </section>
    </div>
</div>