
<div class="container col-xs-12">
    <form name="billingForm" class="form-horizontal" novalidate form-watcher>
        <div class="form-group">
            <div class="createDocumentHeader">
                <legend>{{documentTitle}}</legend>
            </div>

            <div class="createDocumentSection">
                <legend>{{previous.title}}</legend>
                    <div class="col-xs-12 input-group" ng-repeat="sections in previous.sections">
                        <h6>{{sections.title}}</h6>
                        <div ng-repeat="field in sections.fields" ng-form="previousForm"
                             ng-class="{'has-error': previousForm.input.$dirty && previousForm.input.$invalid}">

                            <label for="{{field.id}}" class="control-label col-xs-4 pull-left">{{field.title}}</label>

                            <div ng-switch on="field.datatype">
                                <div ng-switch-when="integer" class="col-xs-8">
                                    <input id="{{field.id}}" class="form-control input-md error" name="input"
                                           ignore-mouse-wheel
                                           type="number" ng-min="0" step="1"
                                           placeholder="Input {{field.title}}"
                                           ng-required="field.required" ng-model="field.value"
                                           number-valid/>
                                    <small class="help-block">
                                        <span ng-class="isRequiredMuted(previousForm.input)">{{showErrorMessage(previousForm.input, field.required)}}</span>
                                    </small>
                                </div>
                                <div ng-switch-when="double" class="col-xs-8">
                                    <input id="{{field.id}}" class="form-control input-md error" name="input"
                                           ignore-mouse-wheel
                                           type="number" min="0" step="0.01"
                                           placeholder="Input {{field.title}}"
                                           ng-required="field.required"
                                           ng-model="field.value"
                                           number-valid
                                           />
                                    <small class="help-block">
                                        <span ng-class="isRequiredMuted(previousForm.input)">{{showErrorMessage(previousForm.input, field.required)}}</span>
                                    </small>
                                </div>
                                <div ng-switch-when="currency" class="col-xs-8">
                                    <input id="{{field.id}}" class="form-control input-md error" name="input"
                                           ignore-mouse-wheel
                                           type="number" min="0" step="0.01"
                                           placeholder="Input {{field.title}}"
                                           ng-required="field.required" ng-model="field.value"
                                           number-valid/>
                                    <small class="help-block">
                                        <span ng-class="isRequiredMuted(previousForm.input)">{{showErrorMessage(previousForm.input, field.required)}}</span>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="subtotal col-xs-12 well well-emphasis well-sm" ng-form="previousFormTotal">
                            <label for="previousTotal" class="control-label col-xs-4 pull-left">Previous total</label>
                            <div class="col-xs-8" ng-class="{'has-error': previousFormTotal.previousTotal.$dirty && previousFormTotal.previousTotal.$invalid}">
                                <input id="previousTotal" class="form-control input-md" name="previousTotal"
                                       type="number" min="0" step="0.01" ignore-mouse-wheel
                                       placeholder="Input {{sections.title}} total"
                                       required ng-model="sections.total"
                                       ng-change="computeSubtotal(previous)"
                                       number-valid />
                                <small class="help-block">
                                    <span ng-class="isRequiredMuted(previousFormTotal.previousTotal)">{{showErrorMessage(previousFormTotal.previousTotal, true)}}</span>
                                </small>
                            </div>
                        </div>
                    </div>

            </div>

            <div class="createDocumentSection">
                <legend>{{thisMonth.title}}</legend>
                <div class="col-xs-12 input-group" ng-repeat="sections in thisMonth.sections">
                    <h6>{{sections.title}}</h6>
                    <div ng-repeat="field in sections.fields" ng-form="thisMonth"
                         ng-class="{'has-error': thisMonth.input.$dirty && thisMonth.input.$invalid}">

                        <label for="{{field.id}}" class="control-label col-xs-4 pull-left">{{field.title}}</label>

                        <div ng-switch on="field.datatype">
                            <div ng-switch-when="integer" class="col-xs-8">
                                <input id="{{field.id}}" class="form-control input-md" name="input"
                                       ignore-mouse-wheel
                                       type="number" min="0" step="1"
                                       placeholder="Input {{field.title}}"
                                       ng-required="field.required" ng-model="field.value"
                                       number-valid/>
                                <small ng-show="thisMonth.input.$invalid && !previousForm.input.$pristine"
                                       class="help-block muted">
                                    <span ng-show="thisMonth.input.$error.required">Required : </span>
                                    <span ng-show="thisMonth.input.$error.number">Numbers only please</span>
                                    <span ng-show="thisMonth.input.$error.min">Minimum of 0</span>
                                </small>
                            </div>
                            <div ng-switch-when="double" class="col-xs-8">
                                <input id="{{field.id}}" class="form-control input-md" name="input"
                                       ignore-mouse-wheel
                                       type="number" min="0" step="1"
                                       placeholder="Input {{field.title}}"
                                       ng-required="field.required" ng-model="field.value"
                                       number-valid/>
                                <small class="help-block">
                                    <span ng-class="isRequiredMuted(thisMonth.input)">{{showErrorMessage(thisMonth.input, field.required)}}</span>
                                </small>
                            </div>
                            <div ng-switch-when="currency" class="col-xs-8">
                                <input id="{{field.id}}" class="form-control input-md" name="input"
                                       ignore-mouse-wheel
                                       type="number" min="0" step="1"
                                       placeholder="Input {{field.title}}"
                                       ng-required="field.required" ng-model="field.value"
                                       number-valid/>
                                <small class="help-block">
                                    <span ng-class="isRequiredMuted(thisMonth.input)">{{showErrorMessage(thisMonth.input, field.required)}}</span>
                                </small>
                            </div>
                            <div ng-switch-when="string" class="col-xs-8">
                                <input id="{{field.id}}" class="form-control input-md" name="input"
                                       type="text"
                                       placeholder="Input {{field.title}}"
                                       ng-required="field.required" ng-model="field.value"/>
                                <small class="help-block">
                                    <span ng-class="isRequiredMuted(thisMonth.input)">{{showErrorMessage(thisMonth.input, field.required)}}</span>
                                </small>
                            </div>
                            <div class="col-xs-8" ng-switch-when="date" dropdown>
                                <a class="dropdown-toggle" id="{{field.id}}" role="button" data-toggle="dropdown"
                                   data-target="#" href>
                                    <div class="col-xs-12 input-group" ng-class="{'has-error': billingForm.billDate.$dirty && billingForm.billDate.$invalid}">
                                        <input type="text" class="form-control" name="input"
                                               data-ng-model="field.value"
                                               placeholder="Input {{field.title}}"
                                               ng-change="validateDateRange(field, thisMonth.input)" >
                                        <small class="help-block">
                                            <span ng-class="isRequiredMuted(thisMonth.input)">{{showErrorMessage(thisMonth.input, field.required)}}</span>
                                        </small>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker class="datetimepicker-dropdown-bottom-right"
                                                    data-ng-model="field.value"
                                                    data-on-set-time="onDateRangeSet(newDate, oldDate, field, thisMonth.input)"
                                                    data-datetimepicker-config="{ dropdownSelector : '#{{field.id}}', startView : 'month', minView : 'month'}"></datetimepicker>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="subtotal col-xs-12 well well-emphasis well-sm" ng-form="currentFormTotal">
                        <label for="{{sections.title}}" class="control-label col-xs-4 pull-left">{{sections.title}} total</label>
                        <div class="col-xs-8" ng-class="{'has-error': currentFormTotal.inputTotal.$dirty && currentFormTotal.inputTotal.$invalid}">
                            <input id="{{sections.title}}" class="form-control input-md" name="inputTotal"
                                   type="number" min="0" step="0.01" ignore-mouse-wheel
                                   placeholder="Input {{sections.title}} total"
                                   required ng-model="sections.total"
                                   ng-change="computeSubtotal(thisMonth)"
                                   number-valid/>
                            <small class="help-block">
                                <span ng-class="isRequiredMuted(currentFormTotal.inputTotal)">{{showErrorMessage(currentFormTotal.inputTotal, true)}}</span>
                            </small>
                        </div>
                </div>
            </div>
        </div>


            <div class="well well-emphasis">
                <div class="row">
                    <div class="col-md-offset-2 col-md-3"><h6 class="bold">{{previous.title}}</h6></div>
                    <div class="col-xs-7"><h6>{{previous.summary.value}}</h6></div>
                </div>
                <div class="row">
                    <div class="col-md-offset-2 col-md-3"><h6 class="bold">{{thisMonth.title}}</h6></div>
                    <div class="col-xs-7"><h6>{{thisMonth.summary.value}}</h6></div>
                </div>
                <div class="row subtotal">
                    <div class="col-md-offset-2 col-md-3"><h6 class="bold">{{thisMonth.title}}</h6></div>
                    <div class="col-xs-7"><h6>{{summary.value}}</h6></div>
                </div>
            </div>


            <div id="documentControls" class="well-sm">
                <div class="form-group">
                    <label for="documentComments" class="col-lg-2 control-label">Comments</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="5" id="documentComments"
                                  ng-model="summary.comments"></textarea>
                        <span class="help-block">Notes or comments for the current document (Will not be visible in final document).</span>
                    </div>
                </div>

                <button type="button" class="btn btn-default" ng-click="onCancelClicked()">Cancel</button>
                <button type="button" class="btn btn-default" ng-click="onSaveClicked(billingForm)">Save</button>
                <button type="submit" class="btn btn-default" ng-click="onSubmitClicked()" ng-disabled="billingForm.$invalid">Submit</button>
                <button type="button" class="btn btn-danger pull-right" ng-click="onDeleteClicked()">Delete
                </button>
                <p class="text-warning" ng-show="billingForm.$invalid">Can't submit document with invalid fields</p>

            </div>

        </div> <!--end form group -->
    </form>
</div>




