
<div class="container col-xs-12">
    <form name="billingForm" class="form-horizontal">
        <div class="form-group">
            <div class="createDocumentHeader">
                <div class='dropdown col-xs-8' dropdown>
                    <input type='text' class='form-control input-md' ng-model="tenantName"
                           typeahead="tenant.tradeName for tenant in tenants | filter:$viewValue | limitTo:8" typeahead-editable='false' placeholder="Select tenant" ng-required="true"/>

                    <ul class="dropdown-menu" role='menu' style='max-height:200px;overflow-y:scroll'>
                        <li ng-repeat='tenant in tenants'>
                            <a href ng-click='onSelect(tenant)'>{{tenant.tradeName}}</a>
                        </li>
                    </ul>
                </div>
                <div class="noPadding col-xs-4">
                    <div class="pull-right">
                        <input type="text" class="form-control" ng-model="billDate" placeholder="Please input date"
                               bs-datepicker>
                    </div>
                </div>
                <!-- end datepicker -->
            </div>
            <br/>
            <br/>
            <div class="createDocumentSection">
                <legend>{{previous.title}}</legend>
                <div class="col-xs-12 input-group" ng-repeat="sections in previous.sections">
                    <h6>{{sections.title}}</h6>
                    <div ng-repeat="field in sections.fields">
                        <label for="{{field.id}}" class="control-label col-xs-4 pull-left">{{field.title}}</label>
                        <div ng-switch on="field.datatype">
                            <div ng-switch-when="integer" class="col-xs-8">
                                <input class="form-control input-md"
                                       type="number" min="0" step="1"
                                       placeholder="Input {{field.title}}"
                                       id="{{field.id}}" ng-model="field.value" ng-change="computeSubtotal(previous,
                                   sections)"/>
                            </div>
                            <div ng-switch-when="double" class="col-xs-8">
                                <input class="form-control input-md"
                                       type="number" min="0" step="0.01"
                                       placeholder="Input {{field.title}}"
                                       id="{{field.id}}" ng-model="field.value" ng-change="computeSubtotal(previous,
                                   sections)"/>
                            </div>
                            <div ng-switch-when="currency" class="col-xs-8">
                                <input class="form-control input-md"
                                       type="number" min="0" step="0.01"
                                       placeholder="Input {{field.title}}"
                                       id="{{field.id}}" ng-model="field.value" ng-change="computeSubtotal(previous,
                                   sections)"/>
                            </div>
                            <div ng-switch-when="string" class="col-xs-8">
                                <input class="form-control input-md"
                                       type="text"
                                       placeholder="Input {{field.title}}"
                                       id="{{field.id}}" ng-model="field.value" ng-change="computeSubtotal(previous,
                                   sections)"/>
                            </div>
                            <div ng-switch-when="date" class="col-xs-8">
                                <input class="form-control input-md"
                                       type="text" min="0"
                                       placeholder="Input {{field.title}}"
                                       id="{{field.id}}" ng-model="field.value" bs-datepicker
                                       data-min-view="0" data-date-format="MMMM dd, yyyy"/>
                            </div>

                        </div>
                    </div>
                    <div class="subtotal col-xs-12 well well-sm">
                        <label for="previousTotal" class="control-label col-xs-4 pull-left">Previous
                        total</label>
                        <div class="col-xs-8">
                            <input class="form-control input-md"
                                   type="number" min="0" step="0.01"
                                   placeholder="Input {{sections.title}} total"
                                   id="previousTotal" ng-model="sections.total" ng-change="computeSubtotal(previous,
                                   sections)"/>
                    </div>
                </div>
            </div>

            <div class="createDocumentSection">
                <legend>{{thisMonth.title}}</legend>
                <div class="col-xs-12 input-group" ng-repeat="sections in thisMonth.sections">
                    <h6>{{sections.title}}</h6>
                    <div ng-repeat="field in sections.fields">
                        <label for="{{field.id}}" class="control-label col-xs-4 pull-left">{{field.title}}</label>
                        <div ng-switch on="field.datatype">
                            <div ng-switch-when="integer" class="col-xs-8">
                                <input class="form-control input-md"
                                       type="number" min="0" step="1"
                                       placeholder="Input {{field.title}}"
                                       id="{{field.id}}" ng-model="field.value"/>
                            </div>
                            <div ng-switch-when="double" class="col-xs-8">
                                <input class="form-control input-md"
                                       type="number" min="0" step="0.01"
                                       placeholder="Input {{field.title}}"
                                       id="{{field.id}}" ng-model="field.value"/>
                            </div>
                            <div ng-switch-when="currency" class="col-xs-8">
                                <input class="form-control input-md"
                                       type="number" min="0" step="0.01"
                                       placeholder="Input {{field.title}}"
                                       id="{{field.id}}" ng-model="field.value"/>
                            </div>
                            <div ng-switch-when="string" class="col-xs-8">
                                <input class="form-control input-md"
                                       type="text"
                                       placeholder="Input {{field.title}}"
                                       id="{{field.id}}" ng-model="field.value"/>
                            </div>
                            <div ng-switch-when="date" class="col-xs-8">
                                <input class="form-control input-md"
                                       type="text" min="0"
                                       placeholder="Input {{field.title}}"
                                       id="{{field.id}}" ng-model="field.value" bs-datepicker
                                       data-min-view="0" data-date-format="MMMM dd, yyyy"/>
                            </div>

                        </div>
                    </div>
                    <div class="subtotal col-xs-12 well well-sm">
                        <label for="{{sections.title}}" class="control-label col-xs-4 pull-left">{{sections.title}} total</label>
                        <div class="col-xs-8">
                            <input class="form-control input-md"
                                   type="number" min="0" step="0.01"
                                   placeholder="Input {{sections.title}} total"
                                   id="{{sections.title}}" ng-model="sections.total" ng-change="computeSubtotal(thisMonth,
                                   sections)"/>
                        </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-4"><h5>{{previous.title}}</h5></div>
            <div class="col-xs-8"><h5>{{previous.summary.value}}</h5></div>
        </div>
        <div class="row">
            <div class="col-xs-4"><h5>{{thisMonth.title}}</h5></div>
            <div class="col-xs-8"><h5>{{thisMonth.summary.value}}</h5></div>
        </div>
        <div class="row subtotal">
            <div class="col-xs-4"><h4>Total</h4></div>
            <div class="col-xs-8"><h5>{{summary.value}}</h5></div>
        </div>


        <div id="documentControls" class="well-sm">
            <div class="form-group">
                <label for="documentComments" class="col-lg-2 control-label">Comments</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="5" id="documentComments"></textarea>
                    <span class="help-block">Notes or comments for the current document (Will not be visible in final document).</span>
                </div>
            </div>

            <button class="btn btn-warning">Cancel</button>
            <button type="submit" class="btn btn-primary" ng-click="onSubmitClicked()">Submit</button>
            <button id="saveButton" class="pull-right btn btn-default">Save</button>

        </div>
    </form>
</div>


