<div id="printable">
    <md-card>
        <md-card-content>
            <div layout="row" layout-align="start center">
                <div flex="50">
                    <h6>Statement of Account for {{approvals.billDate | momentString:"MMMM-YYYY"}}</h6>
                    <div><span>{{approvals.tenantPostData.tradeName}}</span></div>
                    <div><span>{{approvals.tenantPostData.contactPerson}}</span></div>
                    <div><span>{{approvals.tenantPostData.address}}</span></div>
                    <div><span>{{approvals.tenantPostData.contactNumber}}</span></div>
                </div>
                <div flex="50" layout="column" layout-align="center end">
                    <h4>Hobbies of Asia</h4>
                </div>
            </div>
            <br/>
            <h5>Previous charges</h5>
            <div ng-repeat="approval in approvals.previous.sections">
                <div layout="row">
                    <div flex="60">
                        <div layout="row" class="static-bill-entry" ng-repeat="field in approval.fields">
                            <div flex="50" class="static-bill-entry-title" primary-text>{{field.title}}</div>
                            <div flex="50" class="static-bill-entry-value">{{field.value}}</div>
                        </div>
                    </div>
                </div>
                <md-divider></md-divider>
                <div layout="row" layout-align="end center" layout-padding class="static-bill-section">
                    <div class="static-bill-total-label secondary-text">
                        PREVIOUS CHARGES TOTAL
                    </div>
                    <div class="primary-text static-bill-total">
                        {{approval.total}}
                    </div>
                </div>
            </div>
            <h5>This month's charges</h5>
            <div ng-repeat="approval in approvals.thisMonth.sections">
                <h6>{{approval.title}}</h6>
                <div layout="row">
                    <div flex="60">
                        <div layout="row" class="static-bill-entry" ng-repeat="field in approval.fields">
                            <div flex="50" class="static-bill-entry-title" primary-text>{{field.title}}</div>
                            <div flex="50" class="static-bill-entry-value">{{field.value}}</div>
                        </div>
                    </div>
                </div>
                <md-divider></md-divider>
                <div layout="row" layout-align="end center" class="static-bill-section">
                    <div class="static-bill-total-label secondary-text">
                        {{approval.title | uppercase}} TOTAL
                    </div>
                    <div class="primary-text static-bill-total">
                        {{approval.total}}
                    </div>
                </div>
            </div>
            <h5>Summary</h5>
            <div>
                <div layout="row">
                    <div flex="60">
                        <div layout="row" class="static-bill-entry">
                            <div flex="50" class="static-bill-entry-title" primary-text>Previous charges</div>
                            <div flex="50" class="static-bill-entry-value">{{approvals.previous.summary.value}}</div>
                        </div>
                        <div layout="row" class="static-bill-entry">
                            <div flex="50" class="static-bill-entry-title" primary-text>This month's charges</div>
                            <div flex="50" class="static-bill-entry-value">{{approvals.thisMonth.summary.value}}</div>
                        </div>
                    </div>
                </div>
                <md-divider></md-divider>
                <div layout="row" layout-align="end center" class="static-bill-section">
                    <div class="static-bill-total-label secondary-text">
                        TOTAL AMOUNT DUE
                    </div>
                    <div class="primary-text static-bill-total">
                        {{approvals.summary.value}}
                    </div>
                </div>
            </div>
            <br/>
            <div>
                <h6>Notes</h6>
            </div>
            <br/>
            <div layout="row" layout-align="space-between center">
                <div>Prepared by {{approvals.actions.prepared.who}}</div>
                <div>Checked by {{approvals.actions.checked.who}}</div>
                <div>Approved by {{approvals.actions.approved.who}}</div>
            </div>
        </md-card-content>
    </md-card>
</div>