<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h6>{{dialog.message | uppercase}} <span class="text-accented">{{dialog.box | uppercase}}</span></h6>
        </div>
    </md-toolbar>
    <md-content>
        <form name="comment">
            <md-input-container>
                <label>Attach comment</label> <textarea name="text"
                                                        ng-model="dialog.comment"
                                                        cols="60"
                                                        rows="2"
                                                        md-maxlength="140"></textarea>

            </md-input-container>

            <div ng-messages="comment.text.$error">
                <div ng-message="md-maxlength">The comment has to be less than 140 characters long.</div>
            </div>
        </form>
    </md-content>
    <div class="md-actions" layout="row">
        <div flex>
            <md-button class="pull-left no-uppercase" ng-click="dialog.cancel()">
                Cancel
            </md-button>
        </div>
        <md-button ng-disabled="comment.text.$invalid"
                   class="md-primary no-uppercase"
                   ng-click="dialog.send(dialog.comment)"
                   remove-focus>
            Send
        </md-button>
    </div>
</md-dialog>