<md-dialog>
    <md-content>
        <form name="comment">
            <h3>{{dialog.message}} Any message?</h3>
            <md-input-container>
                <label>Message</label> <textarea name="text"
                                                        ng-model="dialog.comment"
                                                        cols="60"
                                                        rows="2"
                                                        md-maxlength="140"></textarea>
            </md-input-container>

            <div ng-messages="comment.text.$error">
                <div ng-message="md-maxlength">The comment has to be less than 140 characters long.</div>
            </div>
        </form>
    </md-content>
    <div class="md-actions">
        <md-button class="no-uppercase" ng-click="dialog.cancel()">
            Cancel
        </md-button>
        <md-button ng-disabled="comment.text.$invalid"
                   class="md-primary no-uppercase"
                   ng-click="dialog.send(dialog.comment)"
                   remove-focus>
            Send
        </md-button>
    </div>
</md-dialog>