<div ng-switch on="field.datatype">
    <div ng-switch-when="integer">
        <input type="number" min="0" step="1"
               id="{{field.id}}" class="form-control input-md" name="input"
               ignore-mouse-wheel
               placeholder="Input {{field.title | lowercase}}"
               ng-required="field.required" ng-model="field.value"
               number-valid
               ng-model-options="{updateOn: 'blur'}" />
    </div>
    <div ng-switch-when="double">
        <input type="number" min="0.1" step="1"
               id="{{field.id}}" class="form-control input-md" name="input"
               ignore-mouse-wheel
               placeholder="Input {{field.title | lowercase}}"
               ng-required="field.required" ng-model="field.value"
               number-valid
               ng-model-options="{updateOn: 'blur'}"/>
    </div>
    <div ng-switch-when="currency">
        <input type="number" min="0.1" step="1"
               id="{{field.id}}" class="form-control input-md" name="input"
               ignore-mouse-wheel
               placeholder="Input {{field.title | lowercase}}"
               ng-required="field.required" ng-model="field.value"
               number-valid
               ng-model-options="{updateOn: 'blur'}"/>
    </div>
    <div ng-switch-when="string">
        <input type="text"
               id="{{field.id}}" class="form-control input-md" name="input"
               placeholder="Input {{field.title | lowercase}}"
               ng-required="field.required" ng-model="field.value"
               ng-model-options="{updateOn: 'blur'}"/>
    </div>
    <div ng-switch-when="email">
        <input type="email"
               id="{{field.id}}" class="form-control input-md" name="input"
               placeholder="Input {{field.title | lowercase}}"
               ng-required="field.required" ng-model="field.value"
               ng-model-options="{updateOn: 'blur'}"/>
    </div>
    <nooovle-error-block parent-form="parentForm" field="input" is-required="field.required"></nooovle-error-block>
</div>