<div id="header" class="container-fluid navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Hobbies of Asia</a>
    </div>
    <div class="navbar-collapse collapse" role="navigation">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {{workspace.userDetails.firstName}}</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings</a></li>
                    <li class="divider"></li>
                    <li><a href ng-click="workspace.onLogOutClicked()">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div id="mainContent" class="container-fluid container-main">
  <div class="row">
    <div id="sidebarNav" class="col-md-2">
      <div class="nav-sidebar">
          <div id="sidebarContent" ui-view="sidebar">

          </div>
      </div>
    </div>

    <span us-spinner spinner-key="spinner"></span>

    <div id="contentContainer" class="col-md-10" ui-view="contentArea">

    </div> <!-- end container -->
  </div> <!-- end row -->
</div> <!-- end mainContent -->