<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Mailbox</h4>
  </div>
      <div class="panel-body">

          <div ng-repeat="mailbox in mailboxItems">
              <h6 class="sidebarSection">{{mailbox.header | uppercase}}</h6>
              <div class="list-group">
                <a ng-repeat="folder in mailbox.contents" href="{{folder.link}}" ng-class="linkClass(folder)" folder="folder" class="list-group-item" id="{{folder.id}}" ng-click="setSelectedLink(folder)">{{folder.title}}</a>
            </div>
          </div>
            
      </div>
</div>  <!-- end mailbox -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Management</h4>
  </div>
  <div class="panel-body">
    <div class="list-group">
                <a href="{{sidebarLink.link}}" ng-class="linkClass(sidebarLink)" link="sidebarLink" class="list-group-item" ng-repeat="sidebarLink in sidebarItems | sidebarListFilter: 'Management'" id="{{sidebarLink.id}}" ng-click="setSelectedLink(sidebarLink)">{{sidebarLink.title}}</a>
    </div>
  </div>
</div>