<md-toolbar md-theme="docs-view">
    <div class="md-toolbar-tools" layout="row" layout-align="start center">
        <button hide-gt-md class="menuBtn menuBtn-hamburger" toggle-side-nav>
            <span class="visually-hidden">Menu</span>
        </button>
        <h3 flex class="toolbar-title">Print preview</h3>
        <section>
            <div>
                <md-button
                            ng-if="printCtrl.document.mailbox == 'forSending'"
                        class="toolbar-text no-uppercase"
                           md-theme="toolbars"
                           remove-focus
                           ng-click="printCtrl.onSentClicked()"><span><i class="fa fa-paper-plane iconed-text"></i>Mark as sent</span>
                </md-button>
                <md-button class="toolbar-text no-uppercase"
                           nvl-print
                           printable-id="printable"
                           md-theme="toolbars"
                           remove-focus><span><i class="fa fa-print iconed-text"></i>Print</span></md-button>
            </div>
        </section>
    </div>
</md-toolbar>
<md-content layout="column" flex class="md-padding md-default-theme">
    <div>
        <nvl-print-card is-printable="true" document="printCtrl.document"></nvl-print-card>
    </div>

</md-content>