<md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-align="start center">
        <button hide-gt-md class="menuBtn menuBtn-hamburger" toggle-side-nav>
            <span class="visually-hidden">Menu</span>
        </button>
        <h3 flex class="toolbar-title">Print preview</h3>
        <section>
            <div>
                <md-button
                        ng-if="!printCtrl.isDisabled"
                        class="toolbar-text no-uppercase"
                        remove-focus
                        ng-click="printCtrl.onSentClicked()">
                    <span><i class="fa fa-paper-plane iconed-text"></i>Mark as sent</span>
                </md-button>
                <md-button class="toolbar-text no-uppercase"
                           nvl-print
                           printable-id="printable"
                           remove-focus>
                    <span><i class="fa fa-print iconed-text"></i>Print</span>
                </md-button>
            </div>
        </section>
    </div>
</md-toolbar>
<md-content flex class="main">
    <div ng-if="stateIsLoading" layout="column" layout-align="center-center" flex="10">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>
    <div layout="column" class="max-width">
        <nvl-print-card is-printable="true" document="printCtrl.document"></nvl-print-card>
    </div>

</md-content>