.reports .card-title{

}

.reports h6.report-section {
    font-weight: 600;
    border-bottom: 1px solid rgba(225, 225, 225, .87);
}

.reports .summary-block {
    margin-top: 24px;
    margin-bottom: 24px;
}

.reports .entry-block * {
    line-height: 1;
    margin-top: 8px;
    margin-bottom: 8px;
}

.reports .info-button {
    min-width: 2em;
    padding: 0;
}

.reports a#reportMonth:hover {
    color :#9C27B0;
}

.reports a#reportMonth i {
    font-size: 14px;
    line-height: 14px;
}