<md-toolbar ng-include="'app/components/mailbox/drafts/partials-drafts-toolbar.html'">

</md-toolbar>

<md-content class="drafts main" flex>
    <div class="max-width" layout="column">
        <div class="invoice-view">
            <h2 class="hoa-out-title">Tenant details</h2>

            <div class="content">
                <hoa-tenant-card tenant="drafts.tenant"
                                 for-billing="true"
                                 bill-date="drafts.billDate"
                                 format="drafts.format"
                                 trade-name-color="drafts.tradeNameColor"
                                 is-delete-control-shown="false"
                                 is-edit-control-shown="false">
                </hoa-tenant-card>
            </div>
        </div>

        <div class="invoice-view">
            <h2 class="hoa-out-title">Invoice fields</h2>

            <div class="content">
                <form name="billingForm" class="form-horizontal" novalidate form-watcher>
                    <fieldset ng-disabled="drafts.isDisabled">
                        <div class="form-group">
                            <!-- Previous month's bill-->
                            <section ng-include="'app/components/mailbox/drafts/partials-previous.html'"></section>
                            <!-- This month's billing -->
                            <section class="thisMonth">
                                <section ng-include="'app/components/mailbox/drafts/partials-rent.html'"></section>
                                <section ng-include="'app/components/mailbox/drafts/partials-electricity.html'"></section>
                                <section ng-include="'app/components/mailbox/drafts/partials-water.html'"></section>
                                <section ng-include="'app/components/mailbox/drafts/partials-cusa.html'"></section>
                                <section>
                                    <md-card class="entry">
                                        <md-card-content>
                                            <md-input-container flex>
                                                <label>Invoice remarks</label> <textarea
                                                    name="remarks" ng-model="drafts.remarks"
                                                    columns="1"
                                                    md-maxlength="140"></textarea>
                                            </md-input-container>
                                            <div ng-messages="comment.text.$error">
                                                <div ng-message="md-maxlength">The comment has to be less than 140
                                                                               characters long.
                                                </div>
                                            </div>
                                        </md-card-content>
                                    </md-card>
                                </section>
                            </section>
                        </div>
                    </fieldset>

                </form>
            </div>
        </div>

        <div class="invoice-view">
            <h2 class="hoa-out-title">Summary</h2>
            <section ng-include="'app/components/mailbox/drafts/partials-summary.html'"></section>
        </div>

        <div class="invoice-view">
            <h2 class="hoa-out-title">Controls</h2>
            <md-card>
                <md-card-content>
                    <div class="md-actions" layout="row" layout-align="start center">
                        <md-button
                                ng-if="!drafts.isDisabled"
                                type="button" class="md-warn no-uppercase"
                                ng-click="drafts.onDeleteClicked()">
                            <span><i class="fa fa-trash-o iconed-text"></i>Delete</span>
                        </md-button>
                        <md-button class="no-uppercase"
                                   md-theme="bills-dark" remove-focus
                                   ng-click="drafts.onCancelClicked(billingForm)">
                            <span><i class="fa fa-times iconed-text"></i> Cancel</span>
                        </md-button>
                        <md-button
                                ng-if="!drafts.isDisabled"
                                class="no-uppercase"
                                md-theme="bills-dark"
                                remove-focus
                                type="button"
                                ng-click="drafts.onSaveClicked(billingForm)">
                            <span><i class="fa fa-floppy-o iconed-text"></i>Save </span>
                        </md-button>
                        <div flex>
                            <md-button
                                    ng-if="!drafts.isDisabled"
                                    md-theme="bills-dark"
                                    remove-focus
                                    type="submit"
                                    class="md-primary pull-right no-uppercase"
                                    ng-click="drafts.onSubmitClicked()"
                                    ng-disabled="billingForm.$invalid">
                                <span>{{drafts.nextAction.title}}<i class="fa fa-arrow-right iconed-text"></i></span>
                            </md-button>
                        </div>
                    </div>
                    <!--<p class="md-warn" ng-show="billingForm.$invalid">Can't submit document with invalid fields</p>-->
                    <hr/>
                    <hoa-comments id="comments" comments="drafts.comments"></hoa-comments>
                </md-card-content>
            </md-card>
        </div>
    </div>
</md-content>






