<md-toolbar md-theme="bills-dark"
            ng-include="'app/components/mailbox/drafts/partials-drafts-toolbar.html'">

</md-toolbar>

<md-content class="drafts" layout="column" flex class="md-padding white-frame">
    <div class="form-view editable-doc" layout="column" flex>
        <section>
            <div class="invoice-view draftsSection">
                <p class="title">Details</p>

                <div class="content">
                    <hoa-tenant-card tenant="drafts.tenant"
                                     for-billing="true"
                                     bill-date="drafts.billDate"
                                     format="drafts.format"
                                     trade-name-color="drafts.tradeNameColor">
                    </hoa-tenant-card>
                </div>
            </div>

            <div class="invoice-view draftsSection">
                <p class="title">Invoice</p>

                <div class="content">
                    <form name="billingForm" class="form-horizontal" novalidate form-watcher>
                        <fieldset ng-disabled="drafts.isDisabled">
                            <div class="form-group">
                                <!-- Previous month's bill-->
                                <section class="previousMonth">
                                    <p class="subtitle">Previous Month</p>
                                    <md-card class="entry" ng-repeat="sections in drafts.previous.sections">
                                        <md-card-content md-theme="bills-dark" layout="column" flex>
                                            <div class="whiteframe-title">
                                                <p class="entry-title">Previous charges</p>
                                            </div>
                                            <nvl-input ng-repeat="field in sections.fields"
                                                       field="field"
                                                       is-disabled="drafts.isDisabled"></nvl-input>
                                            <nvl-input field="sections.sectionTotal"
                                                       is-disabled="drafts.isDisabled"
                                                       change-function="drafts.computeSubtotal()"></nvl-input>
                                        </md-card-content>
                                    </md-card>
                                </section>

                                <!-- This month's billing -->
                                <section class="thisMonth">
                                    <p class="subtitle">This Month</p>
                                    <md-card class="entry" ng-repeat="sections in drafts.thisMonth.sections">
                                        <md-card-content md-theme="bills-dark" layout="column" flex>
                                            <div class="whiteframe-title">
                                                <p class="entry-title">{{sections.title}}</p>
                                            </div>
                                            <section ng-repeat="field in sections.fields">
                                                <nvl-input ng-if="field.datatype != 'dateperiod'"
                                                           field="field"
                                                           is-disabled="drafts.isDisabled"></nvl-input>
                                                <section ng-if="field.datatype == 'dateperiod'"
                                                         layout="row"
                                                         layout-align="space-between center">
                                                    <div class="dropdown">
                                                        <md-button md-theme="bills-dark"
                                                                   class="dropdown-toggle md-button md-fab"
                                                                   id="{{field.dates.from.id}}"
                                                                   role="button"
                                                                   data-target="#"
                                                                   data-toggle="dropdown">
                                                            <i class="fa fa-calendar"></i>
                                                        </md-button>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <datetimepicker data-ng-model="field.dates.from.value"
                                                                            data-datetimepicker-config="{ dropdownSelector : '#{{field.dates.from.id}}', startView : 'month', minView : 'month'}"
                                                                            data-on-set-time="drafts.validateDateRange(field.dates.from)"></datetimepicker>
                                                        </ul>
                                                    </div>
                                                    <div flex>
                                                        <p class="bill-date">{{field.dates.from.title}}
                                                                             {{field.dates.from.value}}</p>
                                                    </div>
                                                    <div class="dropdown">
                                                        <md-button
                                                                md-theme="bills-dark"
                                                                class="dropdown-toggle md-button md-fab"
                                                                id="{{field.dates.to.id}}"
                                                                role="button"
                                                                data-target="#"
                                                                data-toggle="dropdown">
                                                            <i class="fa fa-calendar"></i>
                                                        </md-button>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <datetimepicker data-ng-model="field.dates.to.value"
                                                                            data-datetimepicker-config="{ dropdownSelector : '#{{field.dates.to.id}}', startView : 'month', minView : 'month'}"
                                                                            data-on-set-time="drafts.validateDateRange(field.dates.to)"></datetimepicker>
                                                        </ul>
                                                    </div>
                                                    <div flex>
                                                        <p class="bill-date">{{field.dates.to.title}}
                                                                             {{field.dates.to.value}}</p>
                                                    </div>
                                                </section>
                                            </section>
                                            <nvl-input field="sections.sectionTotal"
                                                       is-disabled="drafts.isDisabled"
                                                       change-function="drafts.computeSubtotal()"></nvl-input>
                                        </md-card-content>
                                    </md-card>
                                </section>

                                <section>
                                    <p class="subtitle">Remarks</p>
                                    <md-card class="entry">
                                        <md-card-content md-theme="bills-dark">
                                            <md-input-container flex>
                                                <label>Invoice remarks</label> <textarea
                                                    name="remarks" ng-model="drafts.summary.remarks"
                                                    columns="1"
                                                    md-maxlength="140"></textarea>
                                            </md-input-container>
                                            <div ng-messages="comment.text.$error">
                                                <div ng-message="md-maxlength">The comment has to be less than 140
                                                                               characters long.
                                                </div>
                                            </div>
                                        </md-card-content>
                                    </md-card>
                                </section>
                            </div>
                        </fieldset>

                    </form>
                </div>
            </div>

            <div class="invoice-view draftsSection">
                <p class="title">Summary</p>

                <div class="content">
                    <md-card>
                        <md-card-content layout-fill
                                         layout="row"
                                         layout-padding
                                         layout-align="space-between center">
                            <div layout="column"
                                 layout-align="center center"
                                 flex="33"
                                 class="static-bill-section">
                                <div class="primary-text static-bill-total invoice-total">
                                    {{drafts.summary.value | currency:"PHP "}}
                                </div>
                                <div class="static-bill-total-label secondary-text">
                                    TOTAL
                                </div>
                            </div>
                            <div flex="66" class="static-bill-entries">
                                <div layout="row" class="static-bill-entry">
                                    <div flex="40" class="static-bill-entry-title" primary-text>Previous charges
                                    </div>
                                    <div flex="60" clsss="static-bill-entry-value">
                                        {{drafts.previous.summary.value | currency:"PHP "}}
                                    </div>
                                </div>
                                <div layout="row" class="static-bill-entry">
                                    <div flex="40" class="static-bill-entry-title" primary-text>This month's charges
                                    </div>
                                    <div flex="60" clsss="static-bill-entry-value">
                                        {{drafts.thisMonth.summary.value | currency:"PHP "}}
                                    </div>
                                </div>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
            </div>

            <div class="invoice-view">
                <md-card>
                    <md-card-content>
                        <div class="md-actions" layout="row" layout-align="start center">
                            <md-button type="button" class="md-warn no-uppercase"
                                       ng-click="drafts.onDeleteClicked()">
                                <span><i class="fa fa-trash-o iconed-text"></i>Delete</span>
                            </md-button>
                            <md-button class="no-uppercase"
                                       md-theme="bills-dark" remove-focus
                                       ng-click="drafts.onCancelClicked(billingForm)">
                                <span><i class="fa fa-times iconed-text"></i> Cancel</span>
                            </md-button>
                            <md-button class="no-uppercase"
                                       md-theme="bills-dark"
                                       remove-focus
                                       type="button"
                                       ng-click="drafts.onSaveClicked(billingForm)">
                                <span><i class="fa fa-floppy-o iconed-text"></i>Save </span>
                            </md-button>
                            <div flex>
                                <md-button md-theme="bills-dark"
                                           remove-focus
                                           type="submit"
                                           class="md-primary pull-right no-uppercase"
                                           ng-click="drafts.onSubmitClicked()"
                                           ng-disabled="billingForm.$invalid">
                                    <span>{{drafts.nextAction.title}}<i class="fa fa-arrow-right iconed-text"></i></span>
                                </md-button>
                            </div>
                        </div>
                        <!--<p class="md-warn" ng-show="billingForm.$invalid">Can't submit document with invalid fields</p>-->
                        <hr/>
                        <hoa-comments id="comments" comments="drafts.comments"></hoa-comments>
                    </md-card-content>
                </md-card>
            </div>
        </section>
    </div>
</md-content>






